.page-content {
  max-width: 800px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
}

.list-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
}

.list-content{
  margin: 10px;
}

.featured-image img {
  align: middle;
  border-radius: 50%;
  display: block;
  width: 300px;
  height: 300px;
}

