.page-content {
  max-width: 800px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
}

.list-content {
  display: flex;
}

.featured-image img {
  align: middle;
  border-radius: 50%;
  display: block;
  width: 300px;
  height: 300px;
}

