---
layout: default
---

<div class="post-content">
  <h1>
    {{ page.title }}
  </h1>
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}
  {%if page.type =="PDF"%}
  <button class="btn">
    <a href="{{ site.github.url }}/assets/projects/{{ page.link }}" style="text-decoration: none">{{ page.type }}</a>
  </button>
  {%else%}
  <button class="btn">
    <a href=page.link style="text-decoration: none">{{ page.type }}</a>
  </button>
  {%endif%}
  {% if page.image %}
  <div class="feat-image">
    <img src="{{ site.github.url }}/assets/img/{{ page.image }}">  
  </div>
  {% endif %}
  <article>
    {{ content }}
  </article>
  <div class="tag-buttons">
    {% for item in page.listed %}
    <div class="tags">
      {{ item }}
    </div>
    {% endfor %}
  </div>
  {% if site.hide_related_posts != true %}
    {% include related-posts.html %}
  {% endif %}
  {% if site.data.settings.disqus.comments %}
    {% include disqus.html %}
  {% endif %}
</div>
